.main {
    text-align: center;
    width: 100%;
    margin: 0px;
    background-color: #101026;
    padding-top: 40px;
}
.main h1{
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    color: #fff;
}