@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
/* "font-family: "Poppins", sans-serif;" */
/* "font-family: "Outfit", serif;" */
/* "font-family: "Montserrat", serif;" */
/* "font-family: "Jost", serif;" */
/* font-family: "Mulish", sans-serif; */
.section.back{
    height: 600px;
    margin-top: 130px;
}
.container.d-flex{
    padding: 0px 100px;
    justify-content: space-between;
}
.MainTextArea{
    display: flex;
    flex-direction: column;
    margin-top: 120px;
}
.textOne{
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 8px;
    color: #fff;
}
.textTwo{
    font-family: "Poppins", sans-serif;
    font-size: 65px;
    height: 80px;
    color: #fff;
    font-weight: 700 !important;
}
.textTwo span {
    color: #F2BB17;
    letter-spacing: 8px;
} 
.textThree{
    font-family: "Poppins", sans-serif;
    font-size: 24px;
    font-weight: 450 !important;
    margin-top: 0px;
    color: #fff;
}

.btn.NotField {
    border: 2px solid #fff;
    background: none;
    color: #fff;
}
.btn.Field {
    border: 0px;
    background-color: #F2BB17;
    color: #10112E;
    margin-left: 25px;
}
.btn {
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    width: 140px;
    height: 40px;
    border-radius: 25px;
    margin-top: 30px;
}

.itImage{
    width: 500px;
    margin-top: 65px;
}



/* Section 2 */
.section.back, .threadSection {
    background-color: #101026;
}
.cards {
    width: 500px;
    height: 600px;
}
.flexbox {
    width: 100%;
    height: 50%;
    display: flex;
    padding-left: 7.5%;
}
.card {
    width: 200px;
    height: 200px;
    background-color: #10112E;
    border-radius: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    z-index: 1;
    text-align: center;
    font-family: "Mulish", sans-serif;
    font-weight: bolder;
    padding: 0px 40px;
}
.card.an {
    margin-top: 7.0%;
    margin-left: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.back-solid-lines {
    width: 390px;
    height: 350px;
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23F2BB17FF' stroke-width='4' stroke-dasharray='5%2c 14.5' stroke-dashoffset='13' stroke-linecap='square'/%3e%3c/svg%3e");
    position: absolute;
    margin-top: 75px;
    z-index: 0;
}
.second-h1-footer {
    display: none;
}


.ulBlock{
    margin-top: 90px;
    width: 500px;
}
.sectionUL{
    list-style: none;
    padding: 0px;
}
.sectionUL li {
    margin-bottom: 20px;
}
.sectionUL li h6 {
    color: #f5f5f5;
    font-family: "Mulish", sans-serif;
    font-weight: 800;
    font-size: 18px;
    margin-left: 12px;
}
.sectionUL li h6 span{
    color: #F2BB17;
}
.sectionUL li text {
    color: #b2b2b2;
    font-family: "Mulish", sans-serif;
}
.card h6, .card text {
    display: none;
}

@media (max-width: 1400px) {
    .textTwo{
        font-size: 58px;
    }   
    .ulBlock{
        margin-top: 90px;
        width: 400px;
    }
}
@media (max-width: 1200px) {
    .container.d-flex.section.two {
        height: 500px;    
    }
    .container.d-flex{
        padding: 0px 80px;
    }
    .MainTextArea{
        margin-top: 120px;
    }
    .textTwo{
        font-size: 45px;
        height: 48px;
    }
    .textThree{
        font-size: 20px;
        margin-top: 12px;
    }
    .itImage{
        width: 430px;
        margin-top: 60px;
    }
    .btn.btn.Field, .btn.NotField {
        width: 120px;
        font-size: 13px;
    }
    .ulBlock{
        margin-top: 80px;
        width: 350px;
    }
    .sectionUL li h6 {
        font-size: 16px;
    }
    .sectionUL li text {
        font-size: 14px;
    }
    .cards{
        width: 400px;
        margin-top: 70px;
    }
    .card {
        width: 150px;
        height: 150px;
        font-size: 16px;
    }
    .flexbox {
        height: 200px;
        width: 400px;
    }
    .back-solid-lines {
        height: 257px;
        width: 290px;
        margin-top: 62px;
        margin-left: 10px;
    }
}
@media (max-width: 992px) {
    .container.d-flex{
        padding: 0px 0px !important;
    }
    .MainTextArea{
        margin-top: 110px;
    }
    .textOne {
        font-size: 13px;
    }
    .textTwo{
        font-size: 38px;
        height: 40px;
    }
    .textThree{
        font-size: 18px;
        margin-top: 12px;
    }
    .itImage{
        width: 400px;
        margin-top: 60px;
    }
    .btn.btn.Field, .btn.NotField {
        width: 120px;
        font-size: 13px;
    }
}
@media (max-width: 850px) {
    .container.d-flex{
        padding: 0px 5px !important;
    }
}
@media (max-width: 769px) {
    .container.d-flex.section.two {
        height: 600px;    
    }
    .section.back {
        height: 600px;
    }
    body .container.d-flex{
        padding: 0px 90px !important;
    }
    .container.d-flex{
        justify-content: center;
    }
    .MainTextArea{
        margin-top: 110px;
    }
    .textOne {
        font-size: 16px;
    }
    .textTwo{
        font-size: 75px;
        height: 80px;
    }
    .textThree{
        font-size: 26px;
        margin-top: 12px;
    }
    .itImage{
       display: none;
    }
    .btn.btn.Field, .btn.NotField {
        width: 140px;
        font-size: 14px;
    }
}
@media (max-width: 767.5px) {
    body .container.d-flex{
        padding: 0px 0px !important;
    }
    .container.d-flex{
        justify-content: center;
    }
}
@media (max-width: 576px) {
    .MainTextArea{
        margin-top: 120px;
    }
    .textOne {
        font-size: 15px;
    }
    .textTwo{
        font-size: 60px;
    }
    .textThree{
        font-size: 24px;
    }
    .btn.btn.Field, .btn.NotField {
        width: 140px;
    }
}
@media (max-width: 476px) {
    .MainTextArea{
        margin-top: 120px;
    }
    .textOne {
        font-size: 14px;
    }
    .textTwo{
        font-size: 50px;
        height: 60px;
    }
    .textThree{
        font-size: 22px;
    }
    .btn.btn.Field, .btn.NotField {
        width: 120px;
        font-size: 12px;
    }
}
@media (max-width: 476px) {
    .MainTextArea{
        margin-top: 120px;
    }
    .textOne {
        font-size: 18px;
        margin-bottom: 15px;
    }
    .textTwo{
        font-size: 80px;
        height: 155px;
        width: 280px;
        line-height: 75px;
    }
    .textThree{
        font-size: 20px;
        margin-top: 10px;
    }
    .btn.btn.Field, .btn.NotField {
        width: 120px;
        margin-top: 20px;
        font-size: 12px;
    }
}

/* section 2 */
@media (max-width: 769px) {
    .central-section{
        width: 100%;
    }
    .cards {
        width: 100%;
        margin-top: 0px;
    }
    .back-solid-lines{
        display: none;
    }
    .flexbox {
        padding: 0px;
        flex-direction: column;
        height: 300px;
        width: 100%;
    }
    .card.an{
        margin: 0px;
        text-align: unset;
        justify-content: unset;
        align-items: unset;
    }
    .card{
        margin-top: 10px !important;
        height: 140px;
        width: 100%;
        justify-content: unset;
        align-items: unset;
        text-align: unset;
        padding: 20px;
    }
    .ulBlock, .card span{
        display: none;
    }
    .card h6, .card h6 span, .card text {
        display: flex;
    }
    .card h6{
        color: #F2BB17;
        font-weight: 800;
        font-size: 20px;
    }
    .card text {
        font-size: 17px;
    }
}
@media (max-width: 576px) {
    .central-section{
        padding: 0px 20px;
    }
}
@media (max-width: 470px) {
    .card h6{
        font-weight: 700;
        font-size: 18px;
    }
    .card text {
        font-size: 16px;
    }
}
@media (max-width: 358px) {
    .card h6{
        font-weight: 600;
        font-size: 16px;
    }
    .card text {
        font-size: 12px;
    }
    .card{
        height: 130px;
    }
    .flexbox {
        height: 280px;
    }
}




.query_section {
    width: 100%;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #101026;
    color: #fff;
}
.container.d-flex.section.three {
    height: 650px;
}

.cental_query {
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 0 auto;
}

.infoblock {
    width: 100%;
    max-width: 400px;
    height: auto;
    padding: 0px 0px;
}


.infoblock h1 {
    font-size: 60px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 20px;
    line-height: 1.2;
    color: #f2bb17;
}

.infoblock h2,
.infoblock h3 {
    font-size: 26px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

.infoblock h2 {
    margin-top: 30px;
}

.infoblock h3 {
    margin: 20px 0px;
    font-family: 'Raleway', sans-serif;
}

.logos {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-between;
}

.logotip {
    width: 50px;
    height: 50px;
    background-color: #10112e;
    border-radius: 10px;
}

.tg_logo,
.insta_logo {
    width: 35px;
    height: 35px;
    margin-top: 8px;
    margin-left: 6px;
    filter: brightness(120%);
}

.insta_logo {
    width: 45px;
    height: 45px;
    margin-top: 2.5px;
    margin-left: 2.5px;
}

.insta_logo:hover {
    filter: brightness(150%);
}

.tg_logo:hover {
    filter: brightness(190%);
}

.formblock {
    width: 100%;
    max-width: 600px;
    height: 400px;
    padding: 30px 0px;
    display: inline-block;
}

.formtext {
    font-size: 17px;
    font-family: "Montserrat", serif;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: left;
}

#phoneInput {
    padding: 20px 25px;
    outline: none;
    background: linear-gradient(95deg, #f2bb17, #f27d16);
    border: unset;
    border-radius: 12px;
    color: antiquewhite;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    margin: 20px 0px;
}

::placeholder {
    color: #fff;
    font-family: 'Jost', sans-serif;
    font-size: 16px;
}
::-ms-reveal {
    filter: invert(100%);
}
.radio_container {
    display: flex;
    align-items: center;
    font-family: 'Raleway', sans-serif;
}

.radio-tile-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.input-container_two,
.input-container {
    position: relative;
    height: 30px;
    width: 120px;
    margin: 10px;
}

.input-container_two input,
.input-container input {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    cursor: pointer;
    z-index: 2;
    opacity: 0;
}

.input-container_two .radio-tile,
.input-container .radio-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    color: white;
    border-radius: 8px;
    transition: all 300ms ease;
    background: #12122d;
}

.input-container_two label,
.input-container label {
    color: var(--primary-color);
    font-size: 0.80rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

input:checked + .radio-tile {
    background-color: #2d272f;
    box-shadow: 0 0 12px var(--primary-color);
    transform: scale(1.1);
}

input:hover + .radio-tile {
    background: #17173b;
}

input:checked + .radio-tile {
    color: white;
    background: #17173b;
}

.query_btn {
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background: #e8a92c;
    border: none;
    border-radius: 12px;
    margin-top: 20px;
    transition: all 0.6s ease;
}

.query_btn:hover {
    background: #ff751a;
}
.politic {
    color: #202356 !important;
    font-size: 15px;
    font-family: 'Raleway', sans-serif !important;
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
    font-weight: 100;
}
.messenger {
    font-size: 14px;
    color: #fff;
    font-family: "Montserrat", serif;
    padding-left: 10px;
}
.infoblock p {
    font-family: "Montserrat", serif;
    margin: 20px 0px 0px 0px;
}

@media screen and (max-width: 1400px) {
    .threadSection.section .container {
        height: 900px !important;
    }
    .formblock {
        width: 450px;
    }
    .query_section {
        height: 550px;
    }
    .container.d-flex.section.three {
        height: 550px !important;
    }
    
}
@media screen and (max-width: 1281px) {
    .infoblock {
        width: 400px;
    }

    .formblock {
        width: 450px;
    }
}

@media screen and (max-width: 1200px) {
    .query_btn {
        max-width: none;
    }
    .infoblock {
        width: 300px;
    }
    .infoblock h1 {
        font-size: 50px;
    }
    .infoblock h2 {
        font-size: 22px;
    }
    .infoblock h3 {
        font-size: 18px;
    }

    .query_btn {
        width: 100%;
    }
}

@media screen and (max-width: 1020px) {
    .cental_query {
        flex-direction: column-reverse;
        align-items: start;
    }
    .formblock{
        margin: auto auto;
        width: 600px;
    }
    .infoblock h1 {
        font-size: 60px;
        display: none;
    }
    .infoblock h2 {
        font-size: 25px;
    }
    .infoblock h3 {
        font-size: 20px;
    }
    .query_section {
        height: 780px;
    }
    .container.d-flex.section.three {
        height: 780px !important;
    }
    .infoblock.high {
        width: 100% !important;
        display: flex !important;
        max-width: none !important;
        justify-content: space-between;
    }
    .infoblock {
        width: 100%;
        max-width: none;
    }
    .second-h1-footer {
        display: flex !important;
    }
}

@media screen and (max-width: 769px) {
    .query_btn {
        width: 100%;
        font-size: 16px;
    }
    .formblock{
        width: 100%;
    }
    .infoblock {
        width: 100%;
    }
    .second-h1-footer {
        font-size: 50px !important;
    }
}

@media screen and (max-width: 577px) {
    .infoblock.high, .formblock {
        padding: 0px 20px;
    }
    .second-h1-footer {
        font-size: 40px !important;
    }
}

@media screen and (max-width: 518px) {
    .formtext {
        font-size: 15px;
    }
    .politic {
        font-size: 14px;
    }
    .messenger {
        font-size: 14px;
    }
    .second-h1-footer {
        font-size: 35px !important;
    }
}
@media screen and (max-width: 400px) {
    .formtext {
        font-size: 14px;
    }
}

@media screen and (max-width: 380px) {
    .second-h1-footer {
        font-size: 28px !important;
    }
    .infoblock h2 {
        font-size: 20px;
        margin-top: 20px;
    }
    .infoblock h3 {
        font-size: 17px;
    }
    .infoblock p {
        font-size: 14px;
    }
    .infoblock.high {
        padding: 0px 20px;
        margin: 0px;
    }
    .formtext {
        font-size: 13px;
    } 
}
@media screen and (max-width: 355px) {
    .formtext {
        font-size: 11.5px;
    }
}

.imgPack.B1{
    background-image: url('../Images/imgPack1.png');
}
.imgPack.B2, .imgPack.B2.after{
    background-image: url('../Images/imgPack2.png');
}
.imgPack.B3{
    background-image: url('../Images/imgPack3.png');
}

#last {
    margin-bottom: 0px !important;
}

.AboutServiceSectiion {
    background: #101026;
    color: #fff;
    padding-top: 80px;
}

.container.d-flex.Service {
    flex-direction: column;
}

.miniLine {
    height: 5px;
    max-width: 100px;
    background-color: #F2BB17;
}

.container.d-flex.Service h1 {
    font-size: 55px;
    font-family: "Outfit", serif;
}

.container.d-flex.Service #linemar {
    margin-bottom: 40px;
}

.ServiceBlock {
    display: flex;
    gap: 20px;
    margin-bottom: 60px;
    align-items: center;
}

.imgPack {
    width: 100%;
    max-width: 500px;
    height: 100%;
    max-height: 500px;
    position: relative;
    aspect-ratio: 1 / 1;
    background-size: cover;
}
.imgPack.B2.after {
    display: none;
}
.ServiceInfo {
    width: 100%;
    max-width: 600px;
    height: 350px;
}
.ServiceInfo {
    padding-top: 20px;
}
.ServiceInfo.B3 {
    height: 300px !important;
}

.ServiceInfo .miniLine {
    margin-bottom: 15px;
}

.ServiceInfo h2 {
    font-family: "Montserrat", serif;
}

.ServiceInfo p {
    font-size: 15px;
    font-family: "Montserrat", serif;
}

#lastS {
    margin-bottom: 0px;
}

/* Media Queries */
@media screen and (max-width: 1400px) {
    .imgPack {
        max-width: 400px;
        max-height: 400px;
    }
    .ServiceInfo {
        width: 100%;
        max-width: 520px;
        height: 320px;
    }
    .ServiceInfo p {
        font-size: 14px;
    }
    .ServiceInfo h2 {
        font-size: 26px;
    }
}

@media screen and (max-width: 1200px) {
    .container.d-flex.Service h1{
        font-size: 50px;
    }
    .imgPack {
        max-width: 400px;
        max-height: 400px;
    }
    .ServiceInfo {
        width: 100%;
        max-width: 520px;
        height: 320px;
    }
    .ServiceInfo p {
        font-size: 12px;
    }
    .ServiceInfo h2 {
        font-size: 20px;
    }
}
@media screen and (max-width: 992px) {
    .container.d-flex.Service h1{
        font-size:45px;
    }
    .imgPack {
        max-width: 380px;
        max-height: 380px;
    }
    .ServiceInfo {
        height: 360px;
    }
    .ServiceInfo p {
        font-size: 12px;
    }
    .ServiceInfo h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 769px) {
    .container.d-flex.Service h1{
        font-size:35px;
    }
    .ServiceInfo {
        height: 300px;
        padding-top: 0px;
    }
    .ServiceInfo p {
        font-size: 10px;
        margin-bottom: 5px;
    }
    .ServiceInfo h2 {
        font-size: 14px;
    }
    .ServiceBlock.B3 .ServiceInfo h2 {
        margin-top: 15px;
    }
}
@media screen and (max-width: 576px) {
    .imgPack.B2 {
        display: none;
    }
    .imgPack.B2.after{
        display: flex;
    }
    .container.d-flex.Service h1{
        font-size:30px;
    }
    .container.d-flex.Service {
        padding: 0 20px !important;
        padding-bottom: 80px !important;
    }
    .ServiceBlock {
        flex-direction: column;
        gap: 20px;
    }

    .imgPack {
        width: 100%;
        height: 100%;
        max-width: 400px;
        max-height: 400px ;
    }

    .ServiceInfo {
        width: 100%;
        max-width: 480px;
        height: auto;
    }

    .ServiceInfo p {
        font-size: 14px;
    }

    .ServiceInfo h2 {
        font-size: 24px;
    }
}
@media screen and (max-width: 500px) {
   .container.d-flex.Service h1{
        font-size:25px;
    }
}
@media screen and (max-width: 480px) {
    .ServiceInfo h2 {
        font-size: 20px;
    }
}
@media screen and (max-width: 450px) {
    .imgPack {
        max-width: 320px;
        max-height: 320px ;
    }
    .ServiceInfo p {
        font-size: 13px;
    }
    .container.d-flex.Service h1{
        font-size:22px;
    }
}
@media screen and (max-width: 400px) {
    .ServiceInfo h2 {
        font-size: 18px;
    }
    .ServiceInfo p {
        font-size: 12px;
    }
}
@media screen and (max-width: 380px) {
    .imgPack {
        max-width: 260px;
        max-height: 260px ;
    }
    .container.d-flex.Service h1{
        font-size:20px;
    }
}
@media screen and (max-width: 350px) {
    .container.d-flex.Service h1{
        font-size:18px;
    }
    .ServiceInfo h2 {
        font-size: 16px;
    }
    .ServiceInfo p {
        font-size: 11px;
    }
}